In [1]:
import pandas as pd

# `Penetración Internet`

In [2]:
df = pd.read_csv("./datasets/Internet_Penetracion.csv")

In [3]:
df.head()

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          1     Buenos Aires                        76,08
1  2022          1  Capital Federal                        111,8
2  2022          1        Catamarca                        58,21
3  2022          1            Chaco                        44,06
4  2022          1           Chubut                        88,05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    object
dtypes: int64(2), object(2)
memory usage: 24.9+ KB

In [5]:
accesos = df["Accesos por cada 100 hogares"].str.replace(",", ".")

In [6]:
df = df.drop(columns="Accesos por cada 100 hogares")

In [7]:
df = pd.concat([df, pd.to_numeric(accesos)], axis=1)

In [8]:
df.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          1     Buenos Aires                         76.08
1  2022          1  Capital Federal                        111.80
2  2022          1        Catamarca                         58.21
3  2022          1            Chaco                         44.06
4  2022          1           Chubut                         88.05

In [11]:
df.to_csv("./data_powerbi/internet_penetracion.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           792 non-null    int64
 1   Trimestre                     792 non-null    int64
 2   Provincia                     792 non-null    object
 3   Accesos por cada 100 hogares  792 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 24.9+ KB

In [16]:
df["Año"].isna().value_counts()

False    792
Name: Año, dtype: int64

# `Ingresos Internet`

In [90]:
ingresos_internet = pd.read_csv("./datasets/Internet_Ingresos.csv")

In [92]:
ingresos_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        34 non-null     int64
 1   Trimestre                  34 non-null     int64
 2   Ingresos (miles de pesos)  34 non-null     object
 3   Periodo                    34 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.2+ KB

In [98]:
ingresos = ingresos_internet["Ingresos (miles de pesos)"].str.split(".").to_list()

In [100]:
lista = []
for i in ingresos:
    a = "".join(i)
    lista.append(a)

In [101]:
ingresos = pd.Series(lista)

In [103]:
ingresos_internet = pd.concat([ingresos_internet, pd.to_numeric(ingresos)], axis=1)

In [105]:
ingresos_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        34 non-null     int64
 1   Trimestre                  34 non-null     int64
 2   Ingresos (miles de pesos)  34 non-null     object
 3   Periodo                    34 non-null     object
 4   0                          34 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [108]:
ingresos_internet = ingresos_internet.drop(columns="Ingresos (miles de pesos)")

In [113]:
ingresos_internet = ingresos_internet.rename(columns={0:"Ingreso (miles de pesos)"})

In [114]:
ingresos_internet.head()

    Año  Trimestre        Periodo  Ingreso (miles de pesos)
0  2022          2   Abr-Jun 2022                  60942843
1  2022          1   Ene-Mar 2022                  56195811
2  2021          4   Oct-Dic 2021                  45467887
3  2021          3  Jul-Sept 2021                  42999944
4  2021          2   Abr-Jun 2021                  38239667

In [116]:
ingresos_internet.to_csv("./data_powerbi/ingresos_internet.csv")

# `Ingresos Telefonía Móvil`

In [143]:
ingresos_telefonia_movil = pd.read_csv("./datasets/Telefonia_movil.csv")

In [144]:
ingresos_telefonia_movil.head()

    Año  Trimestre Ingresos (miles de $)        Periodo
0  2013          1          $ 13.135.235   Ene-Mar 2013
1  2013          2          $ 13.970.806   Abr-Jun 2013
2  2013          3          $ 15.235.659  Jul-Sept 2013
3  2013          4          $ 16.218.846   Oct-Dic 2013
4  2014          1          $ 15.938.353   Ene-Mar 2013

In [145]:
ingresos_telefonia_movil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    38 non-null     int64
 1   Trimestre              38 non-null     int64
 2   Ingresos (miles de $)  38 non-null     object
 3   Periodo                38 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.3+ KB

In [146]:
ingresos = ingresos_telefonia_movil["Ingresos (miles de $)"].str.split(".").to_list()

In [147]:
lista = []
for i in ingresos:
    a = "".join(i)
    lista.append(a)

In [148]:
ingresos = pd.Series(lista)

In [149]:
ingresos = ingresos.str.split(" ").to_list()

In [150]:
lista = []
for i in ingresos:
    if type(i)==list:
        for j in i:
            if j == "$":
                continue
            else:
                lista.append(j)

In [151]:
ingresos = pd.Series(lista)

In [152]:
ingresos_telefonia_movil = pd.concat([ingresos_telefonia_movil, pd.to_numeric(ingresos)], axis=1)

In [154]:
ingresos_telefonia_movil = ingresos_telefonia_movil.drop(columns="Ingresos (miles de $)")

In [155]:
ingresos_telefonia_movil = ingresos_telefonia_movil.rename(columns={0:"Ingreso (miles de $)"})

In [159]:
ingresos_telefonia_movil.head()

    Año  Trimestre        Periodo  Ingreso (miles de $)
0  2013          1   Ene-Mar 2013              13135235
1  2013          2   Abr-Jun 2013              13970806
2  2013          3  Jul-Sept 2013              15235659
3  2013          4   Oct-Dic 2013              16218846
4  2014          1   Ene-Mar 2013              15938353

In [160]:
ingresos_telefonia_movil.to_csv("./data_powerbi/ingresos_telefonia_movil.csv")

# `Ingresos Telefonía Fija`

In [4]:
ingresos_telefonia_fija = pd.read_csv("./datasets/telefonia_fija.csv")

In [5]:
ingresos_telefonia_fija.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Año                    34 non-null     int64
 1   Trimestre              34 non-null     int64
 2   Ingresos (miles de $)  34 non-null     object
dtypes: int64(2), object(1)
memory usage: 944.0+ bytes

In [6]:
ingresos = ingresos_telefonia_fija["Ingresos (miles de $)"]

In [9]:
ingresos = ingresos_telefonia_fija["Ingresos (miles de $)"].str.split(".").to_list()

In [14]:
lista = []
for i in ingresos:
    a = "".join(i)
    b = a.replace(",", ".")
    lista.append(b)

In [16]:
ingresos = pd.Series(lista)

In [17]:
ingresos_telefonia_fija = pd.concat([ingresos_telefonia_fija, pd.to_numeric(ingresos)], axis=1)

In [19]:
ingresos_telefonia_fija.head()

    Año  Trimestre Ingresos (miles de $)           0
0  2014          1          2.916.071,75  2916071.75
1  2014          2           2.974.865,2  2974865.20
2  2014          3          3.105.462,02  3105462.02
3  2014          4           3.339.690,9  3339690.90
4  2015          1          3.260.124,75  3260124.75

In [20]:
ingresos_telefonia_fija = ingresos_telefonia_fija.drop(columns="Ingresos (miles de $)")

In [21]:
ingresos_telefonia_fija = ingresos_telefonia_fija.rename(columns={0:"Ingreso (miles de $)"})

In [22]:
ingresos_telefonia_fija.head()

    Año  Trimestre  Ingreso (miles de $)
0  2014          1            2916071.75
1  2014          2            2974865.20
2  2014          3            3105462.02
3  2014          4            3339690.90
4  2015          1            3260124.75

In [23]:
ingresos_telefonia_fija.to_csv("./data_powerbi/ingresos_telefonia_fija.csv")

# `Ingresos Televisión`

In [24]:
ingresos_television = pd.read_csv("./datasets/Television.csv")

In [25]:
ingresos_television.head()

,Año,Trimestre,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,2022,2,$ 46.264.559,$ 23.559.485
1,2022,1,$ 42.066.845,$ 21.268.086
2,2021,4,$ 38.273.392,$ 18.038.065
3,2021,3,$ 36.398.026,$ 18.039.520
4,2021,2,$ 33.674.996,$ 18.038.442

In [27]:
ingresos_suscripcion = ingresos_television["Ingresos TV por suscripción  (miles de $)"].str.split(".").to_list()
ingresos_satelital = ingresos_television["Ingresos TV satelital (miles de $)"].str.split(".").to_list()

In [35]:
lista = []
for i in ingresos_suscripcion:
    a = "".join(i)
    b = a.replace("$ ", "")
    lista.append(b)

In [37]:
ingresos_suscripcion = pd.Series(lista)

In [38]:
ingresos_television = pd.concat([ingresos_television, pd.to_numeric(ingresos_suscripcion)], axis=1)

In [40]:
ingresos_television.head()

,Año,Trimestre,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $),0
0,2022,2,$ 46.264.559,$ 23.559.485,46264559
1,2022,1,$ 42.066.845,$ 21.268.086,42066845
2,2021,4,$ 38.273.392,$ 18.038.065,38273392
3,2021,3,$ 36.398.026,$ 18.039.520,36398026
4,2021,2,$ 33.674.996,$ 18.038.442,33674996

In [43]:
ingresos_television.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Año                                        34 non-null     int64
 1   Trimestre                                  34 non-null     int64
 2   Ingresos TV por suscripción  (miles de $)  34 non-null     object
 3   Ingresos TV satelital (miles de $)         34 non-null     object
 4   0                                          34 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [44]:
ingresos_television = ingresos_television.drop(columns="Ingresos TV por suscripción  (miles de $)")

In [46]:
ingresos_television = ingresos_television.rename(columns={0:"Ingresos TV por suscripción  (miles de $)"})

In [48]:
lista = []
for i in ingresos_satelital:
    a = "".join(i)
    b = a.replace("$ ", "")
    lista.append(b)

In [49]:
ingresos_satelital = pd.Series(lista)

In [50]:
ingresos_television = pd.concat([ingresos_television, pd.to_numeric(ingresos_satelital)], axis=1)

In [51]:
ingresos_television = ingresos_television.drop(columns="Ingresos TV satelital (miles de $)")

In [53]:
ingresos_television = ingresos_television.rename(columns={0:"Ingresos TV satelital (miles de $)"})

In [54]:
ingresos_television.head()

,Año,Trimestre,Ingresos TV por suscripción (miles de $),Ingresos TV satelital (miles de $)
0,2022,2,46264559,23559485
1,2022,1,42066845,21268086
2,2021,4,38273392,18038065
3,2021,3,36398026,18039520
4,2021,2,33674996,18038442

In [55]:
ingresos_television.to_csv("./data_powerbi/ingresos_television.csv")